/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* styles */

body{
    display:flex;
    flex-direction: row wrap;
}

aside, .chat, .content{
    height:100vh;
}

.content{
    width:auto;
    flex: 3 1 auto;
}
.chat{
    background-color: black;
    color: white;   
   
}

aside{
    flex: 0.25 1 auto;
}
