
html {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

body {

    flex-grow:1;
}

iframe{
    height:100%;
    width:100%;
}

.column{
    align-items: stretch;
    
    padding-bottom:0;
}

